// Bootstrap
@use 'bootstrap/scss/bootstrap.scss';

// Variables
@use './vars' as *;


/******************* General rules *********************/


footer,header{

    height: 15vh;
    color: white;
    background-color: $primaryCol;
}